nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 10px 10px 10px;
}

a.active-class {
    color: green;
    border-bottom: 2px solid green;
}